@mixin hover {
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: $color-brand;
  }
}

@mixin transition-default($name: all, $duration: 0.3s) {
  transition: $name $duration ease;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
