@mixin hover {
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: $color-brand;
  }
}

@mixin transition-default($name: all, $duration: 0.3s) {
  transition: $name $duration ease;
}
