@mixin hover($color: $color-brand) {
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: $color;
  }
}

@mixin transition-default($name: all, $duration: 0.3s) {
  transition: $name $duration ease;
}

@mixin flex($justify-content: space-between, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
