@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600);

$font_family: Inter, sans-serif;

$size_desktop: 1920px;
$size_mobile: 375px;

$padding_container: 64px;

$color-dark: #000000;
$color-light: #ffffff;
$color-gray: #f2f2f2;
$color-brand: #7bb899;
$color-text-main: #1f2020;

$fz-10px: 0.625rem;
$fz-12px: 0.75rem;
$fz-14px: 0.875rem;
$fz-16px: 1rem;
$fz-24px: 1.5rem;
$fz-72px: 4.5rem;
